<table class="fieldset">
  <tr>
    <th class="label"><label for="page_published_at">Published</label></th>
    <td class="field" ><%= datetime_select "page", "published_at", :include_blank => true, :include_seconds => true, :start_year => 1998 %></td>
  </tr>
</table>